.outerContainer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    border: 1px solid red;
    box-sizing: border-box;
}

.headerContainer {
    display: flex;
}

.bodyContainer {
    
}
