.backgroundImg {
    width: 100%;
    height: 100%;
    background-image: url(https://wallpaper.dog/large/5526740.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
}

.outerContainer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
}

.headerContainer {
    display: flex;
    height: 50px;
}

.bodyContainer {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
    /* background-image: url(https://wallpaper.dog/large/5526740.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
}

.boardListContainer {
    width: 260px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.mainContainer {
    width: calc(100% - 260px);
    /*
    HEIGHT HERE ADJUSTS THE SPACE AT THE BOTTOM, DECREASE TO 97% WHEN X-AXIS SCROLLBAR IMPLEMENTED
    */
    /* height: 98%; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: rgb(0, 0, 0, 0.1);
}

.boardHeader {
    width: 100%;
    height: 50px;
    /* border: 1px solid purple; */
    display: flex;
    justify-content: left;
    align-items: center;
}

.boardName {
    font-size: 20px;
    font-weight: 600;
    margin-left: 15px;
    color: #172B4D;
    width: 690px;
    border: 2px solid rgb(244,245,247, 0);
    /* border: none; */
    font-family: 'Inter Tight', sans-serif;
    background-color: rgb(244,245,247, 0);
    resize: none;
    cursor: pointer;
}

.boardName:focus {
    cursor: text;
    outline: #FED053;
    border: 2px solid #FED053;
    border-radius: 4px;
    box-sizing: border-box;
    overflow-y: hidden;
    background-color: white;
}

.editModal:hover {
    text-decoration: underline;
    cursor: pointer;
}

.listsContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: auto;
}
