.formContainer {
    width: 93%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.form {
    /* border: 1px solid salmon; */
    width: 100%;
    box-sizing: border-box;
}

.inputContainer {
    height: fit-content;
}

.inputArea {
    width:100%;
    /* height: 60px; */
    height: fit-content;
    padding-bottom: 50px;
    resize: none;
    border: none;
    border-radius: 4px;
    font-family: 'Inter Tight', sans-serif;
    font-size: 15px;
    box-shadow: 0px 1px 0px 0px rgb(178,184,196);
    box-sizing: border-box;
    overflow: hidden;
    text-indent: 5px;
    padding-top: 5px;
    word-wrap: break-word;
    /* white-space: pre-wrap; */
    overflow-wrap: break-word;
}

.inputArea:focus {
    outline: none;
}

.buttonsContainer {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.addCardButton {
    cursor: pointer;
    background-color: #0086d3;
    color: #F5F6F7;
    outline: none;
    border: none;
    border-radius: 4px;
    font-family: 'Inter Tight', sans-serif;
    font-size: 15px;
    /* transition: background-color 0.1s; */
    padding: 7px 10px;
}

.addCardButton:hover {
    background-color: #016EAD;
}

.Xbutton {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #EBECF0;
    color: #6B778C;
    transition: background-color 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Xbutton:hover {
    background-color: #d9d9da;
    color: black;
}
