.outerContainer {
    height: 100vh;
    width: 100vw;
    /* border: 1px red solid;
    box-sizing: border-box; */
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centeredContainer {
    display: flex;
    /* justify-content: center; */
    /* gap: 10px; */
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.workspaceContainer {
    /* border: 1px solid black; */
    box-sizing: border-box;
    width: 260px;
    height: 100%;
    background-color: rgba(250, 251, 252, 1);
}

.mainContainer {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* .workspaceText {
    color: #586C84;
    margin: 10px;
    font-weight: bold;
} */

.centerBody {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
}

.headerContainer {
    margin: 40px 0px;
    color: black;
    font-size: 19px;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.headerInfo {
    position: relative;
    left: 10%;
    display: flex;
    align-items: center;
}

.firstLetter {
    height: 60px;
    width: 60px;
    background-color: #EAB82C;
    color: white;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-right: 10px;
    user-select: none;
}

.headerText {
    display: flex;
    flex-direction: column;
    user-select: none;
}

#lock {
    font-size: 17px;
}

.privateText {
    font-weight: 300;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-top: 6px;
}

.hr {
    color: #D9DDE2;
    background-color: #D9DDE2;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #D9DDE2;
    width: 100%;
    position: relative;
}

.boardsText {
    font-weight: 600;
    font-size: 18px;
    margin: 25px 0px;
    color: #172B4D;
    cursor: default;
}

.boardsContainer {
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    /* justify-content: space-evenly; */
}

.addBoardContainer {
    width: 280px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #E6E9ED;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.1s;
}


.addBoardContainer:hover {
    background-color: #d1d5da;
}

.addBoardContainer:active:hover {
    background-color: #e4f0f6;
    color: #5ea9d5;
}

.createBoardText {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
