#modal {
  position: relative;
  /* THIS MOVES THE POSITION OF THE MODAL */
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

#modal_background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

#modalContent {
  position: relative;
  top: 50vh;
  background-color: #4f545c;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  overflow-x: hidden;
}
