.navContainer {
    height: 60px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    font-size: 25px;
    font-weight: 600;
    background-color: white;
    color: #172B4D;
}

.limontrelloContainer {
    display: flex;
    align-items: center;
    user-select: none;
}

.buttonsContainer {
    display: flex;
    align-items: center;
    /* Add this back in to avoid scroll bar */
    margin-right: 1rem;
    height: 100%;
    font-weight: 500;
    font-size: 19px;
}

#loginButton {
    display: flex;
    align-items: center;
    color: #172B4D;
    cursor: pointer;
    height: 100%;
    padding: 0px 20px;
    /* border-radius: 40px; */
    /* margin-right: 10px; */
}

#loginButton:hover {
    background-color: rgb(232, 232, 232);
}

#signupButton {
    display: flex;
    align-items: center;
    color: white;
    background-color: #4576fc;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    cursor: pointer;
    /* border-top-left-radius: 6px;
    border-bottom-left-radius: 6px; */
}

#signupButton:hover {
    background-color: #2c54c2;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

.gradientContainer {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 100%;
    /* Temporary height */
    height: 45vh;
    /* height: 550px; */
    background: linear-gradient(90deg, rgba(212,164,36,1) 0%, rgb(254,249,83) 100%);
}

.waves {
    user-select: none;
    width: 100%;
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, #E6FCFF 100%);
}

.section {
    height: 10rem;
    position: absolute;
    top: 49rem;
    display: flex;
    width: 100%;
    flex-direction: column;

}

.introTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    transform: translateY(5rem);
}

.introTextHeader {
    font-size: 48px;
    font-weight: 500;
    color: #FFFFFF;
}

.introTextSubheader {
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 15px;
}

.introSignupButton {
    display: flex;
    align-items: center;
    color: white;
    background-color: #4576fc;
    height: fit-content;
    width: fit-content;
    padding: 20px 18px;
    font-weight: 400;
    cursor: pointer;
    transition: all 100ms;
    border-radius: 6px;
    user-select: none;
    margin-top: 35px;
}

.introSignupButton:hover {
    background-color: #2c54c2;
}

.introSignupButton:hover:active {
    background-color: #2749a8;
}


.teamImgContainer {
    display: flex;
    align-items: center;
    transform: translateY(10rem);
}

.teamImgContainer > img {
    /* margin-top: 80px; */
    width: 632px;
    height: 558px;
}

.limontrelloIcon {
    height: 38px;
    width: 38px;
    border-radius: 3px;
    margin-left: 15px;
    margin-right: 5px;
}

.fillerDiv {
    height: 60px;
    width: 100vw;
}
