.centeredContainer {
    background-color: #FFFFFF;
    width: 400px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.welcomeText {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 5px;
    color: #5E6C84;
}

.inputContainer {
    box-sizing: border-box;
    margin: 13px 0px;
}

.inputBar {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: 2px solid #DFE1E6;
    border-radius: 4px;
    text-indent: 5px;
    transition: all 0.3s;
}

.inputBar:focus {
    border: 2px solid #4C9AFF;
    border-radius: 4px;
    outline: none;
    background-color: #FFFFFF;
}

.inputBar:hover {
    background-color: rgb(230, 230, 230);
}

.loginButton {
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: #0065ff;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 15px;
}

.loginButton:hover {
    background-color: #0052CC;
}

.loginButton:hover:active {
    background-color: #05439f;
}

.hrBar {
    margin-top: 15px;
    width: 75%;
    height: 0;
    border: none;
    border-top: 1px solid rgb(213,216,222, 1);
    border-radius: 4px;
}

.footerTextContainer {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 45px;
}

.hoverable {
    font-size: 13px;
    font-weight: 300;
    cursor: pointer;
    color: rgb(0,82,204);
}

.hoverable:hover {
    text-decoration: underline;
}

#dot {
    font-size: 12px;
    font-weight: 300;
    color: #4D4D4D;
}

.circleContainer {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%;
}

.loadingCircle {
    width: 50%;
    height: 100%;
    user-select: none;
}

.hidden {
    display: none;
}
