.logoutButton {
    margin-right: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
    background-color: #EAB82C;
    cursor: pointer;
    padding: 7px 10px;
}

.logoutButton:hover {
    background-color: #BD8F11;
}

.logoutButton:hover:active {
    background-color: #99730a;
}
