
.pageContainer {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100%;
    box-sizing: border-box;
    background-color: #F9FAFC;
    position: absolute;
    z-index: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.centeredContainer {
    display: flex;
    flex-direction: column;
}

.headerImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
    width: 100%;
    font-size: 42px;
    font-weight: 700;
    cursor: default;
    gap: 13px;
    color: #253858;
    user-select: none;
}

.trelloHeader {
    height: 50px;
}

.hrBar {
    margin-top: 45px;
    color: #CCCCCC;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: #CCCCCC 1px solid;
    width: 100%;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.atlassian {
    height: 18px;
    margin-top: 20px;
}

.backgroundImgContainer {
    position: fixed;
    width: 100%;
    height: fit-content;
    bottom: 0;
    /* border: 1px solid salmon; */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    z-index: -1;
}

.leftImg {
    width: 27%;
    height: 27%;
}

.rightImg {
    width: 27%;
    height: 27%;
}

.formNbarContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 75px;
}
