.navBarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #026AA7;
    height: 45px;
}

.title {
    color: white;
    display: flex;
    align-items: center;
}

.title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.icon {
    height: 30px;
    background-color: #026AA7;
}

/* .icon:hover {
    background-image: element(gif);
} */
