.outerContainer {
    width: 730px;
    height: 81vh;
    background-color: rgb(244,245,247);
    border-radius: 4px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    padding: 25px;
}

.iconColumn {
    width: 6%;
}

.bigBody {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: 94%;
    color: #172B4D;
}

.headerContainer {
    width: 100%;
    margin-bottom: 20px;
}

#titleText {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 8px;
}

#listText {
    font-size: 14px;
    font-weight: 400;
    color: #5E6C84;
}

.bodyContainer {
    display: flex;
    /* gap: 15px; */
    height: 100%;
}

.bodyDetails {
    width: 75%;
    /* border: 1px solid lightblue; */
}

.moreOptions {
    width: 25%;
    /* border: 1px solid lightgreen; */
    display: flex;
    flex-direction: column;
}

.detailContainer {
    margin-bottom: 20px;
}

.categoryTitle {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 32px;
}

#descriptionBox {
    font-size: 15px;
    font-weight: 400;
    height: 100px;
    width: 95%;
    cursor: pointer;
    overflow-wrap: break-word;
    border: 1px solid rgba(5, 33, 90, 0);
    box-sizing: border-box;
    text-indent: 2px;
}

#editDescriptionBox {
    font-size: 15px;
    font-weight: 400;
    height: 100px;
    width: 94.5%;
    resize: none;
    font-family: 'Inter Tight', sans-serif;
    outline: none;
    border: 2px solid #0086d3;
    border-radius: 4px;
    overflow-x: hidden;
    box-sizing: border-box;
}

.editButton {
    font-weight: 400;
    font-size: 15px;
    padding: 8px 12px;
    background-color: #EAECEF;
    border-radius: 4px;
    cursor: pointer;
}

.editButton:hover {
    background-color: #dadbde;
}

.deleteButton {
    height: 32px;
    border-radius: 4px;
    background-color: #B04632;
    color: #FFFFFF;
    display: flex;
    justify-content: flex-start;
    text-indent: 10px;
    align-items: center;
    cursor: pointer;
    font-size: 15px;
    transition: all 0.1s;
}

.deleteButton:hover {
    background-color: #8f3928;
}

.editFooter {
    display: flex;
    justify-content: space-between;
}

.saveButton {
    border-radius: 4px;
    cursor: pointer;
    background-color: #0086d3;
    color: #F5F6F7;
    padding: 8px 12px;
}

.charCount {
    position: relative;
    right: 5%;
    font-size: 15px;
}
