.listColumnContainer {
    /* border: 1px solid blue; */
    width: 220px;
    height: fit-content;
    max-height: 100%;
    /* margin-left: 15px;
    margin-right: 0px; */
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    padding-bottom: 0px;
    background-color: #EBECF0;
}

.listHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    text-indent: 10px;
    user-select: none;
    width: 100%;
}

.listName {
    overflow: hidden;
    text-overflow: ellipsis;
    border: rgb(2, 106, 167, 0) 2px solid;
}


.editForm > input {
    border-radius: 3px;
    border: rgb(2, 106, 167, 0) 2px solid;
    outline: none;
    width: 87%;
    box-sizing: border-box;
    font-size: 17px;
}

.editForm > input:focus {
    outline: none;
    border: #026AA7 2px solid;
}

.listButtons {
    display: flex;
    align-items: center;
    position: relative;
}

.listOption {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 5px;
}

.listOption:hover {
    background-color: rgb(202, 202, 202, 0.75);
}

.listOption > img {
    color: #7B8698;
    width: 1.4rem;
}

.hidden {
    display: none;
}

.cardsContainer {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95%;
    overflow-y: auto;
    overflow-x: hidden;
    color: #172B4D;
}

.singleCard {
    width: 100%;
    display: flex;
    justify-content: center;
}

.addCardContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    user-select: none;
}

.addCardButton {
    outline: none;
    border: none;
    background-color: #EBECF0;
    height: 30px;
    width: 93%;
    border-radius: 4px;
    font-size: 15px;
    color: #7B8698;
    text-align: left;
    margin-bottom: 7px;
    display: flex;
    align-items: center;
}

.addCardButton:hover {
    cursor: pointer;
    background-color: #dcdcdc;
}

.placeholder{
    background-color: rgb(149, 149, 149);
}
