/* TODO Add site wide styles */
body {
    padding: 0;
    margin: 0;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 400;
    font-size: 17px;
    /* background-color: #F9FAFC; */
}

.trelloIcon {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    margin-left: 10px;
    margin-right: 5px;
    /* background-color: rgb(255, 255, 48); */
}

.sideBarHighlight {
    background-color: rgb(218, 218, 218, 1);
}

.errors {
    color: rgb(255, 109, 109);
    font-size: 15px;
    margin-bottom: 10px;
    user-select: none;
}

* > button {
    all: unset;
    text-align: center;
    /* font-family: 'Inter Tight', sans-serif; */
}

/* * > input {
    font-family: 'Inter Tight', sans-serif;
}

* > textarea {
    font-family: 'Inter Tight', sans-serif;
} */

* > :is(button, input, textarea) {
    font-family: 'Inter Tight', sans-serif;
}
